# Ignore upstream repository
ns-3*
ns3*

# Ignore third-party builds
third_party/*

# Ignore user scenario results, but keep directory in place
results/*
!results/.placeholder

# Ignore Python cache
__pycache__

# Ignore random files
*.save

# Containers
.devcontainer
container

# Spurious files
*BAD*
PROTO*