# Ignore build artifacts
build/
ns3/
# Ignore upstream repository
ns3/build
ns3/src/iodsim

# Ignore user scenario results, but keep directory in place
results/*
!results/.placeholder

# Ignore leo simulator outputs
leo/*.swp
leo/*.swo
leo/.vscode
leo/examples/trace_view/grafico_3d_gpu.html
leo/examples/trace_view/punti_3d.csv
leo/doc/build/**
leo/doc/build
leo/doc/svg-inkscape/**
leo/doc/svg-inkscape/

# Ignore Python cache
__pycache__

# Ignore Python virtual environment
.venv/

# Ignore background scenario nohup outputs
nohup.out

# Ignore documentation build artifacts
docs/html
docs/latex